.recipe-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 90%;
  max-width: 260px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;

  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
  }


  > * {
    position: relative;
    z-index: 1;
  }

  h3 {
    margin-bottom: 8px;
  }

  p {
    margin: 4px 0;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    cursor: pointer;
  }

  &.Breakfast {
    border-left: 5px solid #ffcc00;
    background-image: url("../../assets/Breakfast.jpg");
  }

  &.Lunch {
    border-left: 5px solid #00bfff;
    background-image: url("../../assets/Lunch.jpg");
  }

  &.Dinner {
    border-left: 5px solid #ff6f61;
    background-image: url("../../assets/Dinner.jpg");
  }

  &.Dessert {
    border-left: 5px solid #8e44ad;
    background-image: url("../../assets/Dessert.jpg");
  }

  @media (min-width: 768px) {
    width: 250px;
  }
}
