@import "../general/variables";
@import "../mixins/mixins";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Arial, sans-serif;
}
