@use "../../styles/general/variables" as vars;
@use "../../styles/mixins/mixins" as mix;

/* basic flex layout for buttons */
.buttons {
  @include mix.flex-column(vars.$space-md, center, center); // flex column layout with gap

  /* common style for all buttons */
  button {
    font-family: vars.$font-button-gf; // button font
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: vars.$radius-sm; // using variables
    cursor: pointer;
    color: vars.$header-text; // white text from variables
    transition: background-color 0.2s ease;
    min-width: 140px; // ensures both buttons are the same width on all screen sizes
  }

  /* red button */
  .first-btn {
    background-color: vars.$secondary-color;
    &:hover {
      background-color: vars.$secondary-hover;
    }
  }

  /* blue button */
  .second-btn {
    background-color: vars.$primary-color;
    &:hover {
      background-color: vars.$primary-hover;
    }
  }

  @include mix.respond-to(sm) {
    @include mix.flex-row(vars.$space-md, center, center); // switch to row on medium screens
  }
}


