@use "../../styles/general/variables" as vars;
@use "../../styles/mixins/mixins" as mix;

/* main container for home page */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;

  @include mix.flex-column(vars.$space-md, flex-start, center);

  padding: vars.$space-md;
  background-image: url("../../assets/spices.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* overlay for title and buttons */
  &__overlay {
    @include mix.flex-column(vars.$space-md);
    width: 100%;
    padding: vars.$space-md;
    background-color: transparent;
  }

  &__title {
    @include mix.heading(1.8rem);
    color: #000;
    text-align: center;
    margin-bottom: vars.$space-lg;
  }

  .buttons {
    width: 100%;
    @include mix.flex-column(vars.$space-sm);

    @include mix.respond-to(sm) {
      @include mix.flex-row(vars.$space-md);
    }
  }

  @include mix.respond-to(sm) {
    padding: vars.$space-lg;

    &__title {
      font-size: 2.2rem;
      margin-bottom: vars.$space-xl;
    }
  }

  @include mix.respond-to(md) {
    padding: vars.$space-xl;

    &__title {
      font-size: 2.5rem;
      margin-bottom: 40px;
    }
  }
}

