.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/spices.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.home__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;  // pokrije cel zaslon
  width: 100%;
  padding: 32px;
  background-color: transparent;
}

.home__title {
  color: #000;           // barva naslova
  text-transform: uppercase;
  font-weight: 900;       // maksimalno bold
  font-size: 2rem;
  text-align: center;     // horizontalno centriran
  margin-bottom: 300px;   // prostor med naslovom in gumbi
}
