.recipe-details {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: 16px;
  }

  p {
    max-width: 600px;
    margin-bottom: 8px;
  }

  .buttons {
    margin-top: 24px;
  }
}

