.recipes-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  &__title {
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
  }
}
