.recipes-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;


  background-color: #121212;

  &__title {
    font-size: 2rem;
    margin-bottom: 16px;
    text-align: center;
    color: #fff;
  }

  button {
    margin-bottom: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: #ff6f61;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #e55b50;
    }
  }
}
