@use "../../styles/general/variables" as vars;
@use "../../styles/mixins/mixins" as mix;

/* container for recipe cards - flex layout */
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: vars.$space-md;
}
