@use "../../styles/general/variables" as vars;
@use "../../styles/mixins/mixins" as mix;

/* main container for add recipe page */
.add-recipe {
  min-height: 100vh;

  @include mix.flex-column(vars.$space-md, flex-start, center);

  padding: vars.$space-md;
  position: relative;
  color: vars.$header-text;

  &.dark-bg {
    background-color: vars.$dark-bg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    @include mix.heading(2rem);
    margin-bottom: vars.$space-lg;
    text-align: center;
  }

  form {
    @include mix.flex-column(vars.$space-md);
    width: 100%;
    max-width: 500px;

    input,
    select {
      padding: vars.$space-sm;
      border-radius: vars.$radius-sm;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin-bottom: vars.$space-md;
      width: 100%;
      box-sizing: border-box;
    }

    textarea {
      padding: vars.$space-sm;
      border-radius: vars.$radius-sm;
      border: 1px solid #ccc;
      font-size: 1rem;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: vars.$space-md;
      resize: none;

      &.ingredients {
        height: 136px;
      }

      &.instructions {
        height: 340px;
      }
    }

    .form-buttons {
      margin-top: auto;
      @include mix.flex-row(vars.$space-sm, center, center);

      button:first-child {
        background-color: vars.$primary-color;
        &:hover {
          background-color: vars.$primary-hover;
        }
      }

      button:last-child {
        background-color: vars.$secondary-color;
        &:hover {
          background-color: vars.$secondary-hover;
        }
      }

      button {
        padding: 12px 20px;
        border: none;
        border-radius: vars.$radius-sm;
        color: vars.$header-text;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
    }
  }

  @include mix.respond-to(sm) {
    padding: vars.$space-lg;

    h1 {
      font-size: 2.5rem;
    }
  }

  @include mix.respond-to(md) {
    padding: vars.$space-xl;

    h1 {
      font-size: 3rem;
    }
  }
}

